.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.footer-grid {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  width: 100%;
  display: block;
}
.cafe-image {
  width: 100%;
  aspect-ratio: 1/1;
}
.grid-cards {
  grid-template-columns: 1fr 1fr 1fr;
}
.cards-section {
  background-color: #f8f8f8;
}
.cards-section h3 {
  margin-bottom: 30px;
}

.card {
  background-color: white;
  margin-top: 30px 0;
}
.card-header {
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 5px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
.text-center {
  text-align: center;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  background: #462cb2;
  padding: 16px;
  text-decoration: none;
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif;
  background: black;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/melbourne-city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
}
header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: white;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}
main {
  background-color: white;
}
main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  margin: 0;
}
main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/stkildabeach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;
  color: white;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  text-align: center;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .grid-top-card img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
}
