body {
  font-family: "Poppins", sans-serif;
  background: black;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/melbourne-city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
}
header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background: white;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/stkildabeach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 35% bottom 45%;
  color: white;
  padding: 100px 0;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
  text-align: center;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 16px;
  }
  header h3 {
    font-size: 12px;
  }
}
